<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="header.html :: header"></div>
</head>
<body>
<div class="container-fluid m-15">
    <form action="saveLocation" method="post">
        <pre>
        Id: <input type="text" name="id"/>
        Code: <input type="text" name="code"/>
        Name: <input type="text" name="name"/>
        Type: Urban <input type="radio" name="type" value="URBAN"/>
              Rural <input type="radio" name="type" value="RURAL"/>
        <input type="submit" value="save"/>
        </pre>
    </form>

    <p th:text="${msg}"></p>
    <a th:href="@{displayLocation}">View all</a>

</div>
</body>
</html>